<header id="header">
    <div class="container">
        <div class="row header-top align-items-center">
            <div class="col-lg-4 col-sm-4 menu-top-left">
			    			<span>
			    				We believe we helps people <br>
								for happier lives
			    			</span>
            </div>
            <div class="col-lg-4 menu-top-middle justify-content-center d-flex">
                <a href="{{ site.url }}">
                    <h1>Liftensity</h1>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4 menu-top-right">
                <a class="tel" href="tel:+880 123 12 658 439">+880 123 12 658 439</a>
                <a href="tel:+880 123 12 658 439"><span class="lnr lnr-phone-handset"></span></a>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row align-items-center justify-content-center d-flex">
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="{{ site.url }}">Főoldal</a></li>
                    <li><a href="#rolunk">Rólunk</a></li>
                    <li><a href="#edzesek">Edzések</a></li>
                    <li><a href="#online-edzes">Online edzés</a></li>
                    <li><a href="#cikkek">Cikkek</a></li>
                    <li><a href="#kapcsolat">Kapcsolat</a></li>
                    <!--
                    <li class="menu-has-children"><a href="">Pages</a>
                        <ul>
                            <li><a href="generic.html">Generic</a></li>
                            <li><a href="elements.html">Elements</a></li>
                        </ul>
                    </li>
                    -->
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header>
