---
layout: default
---
<div class="main-wrapper">
    <section class="about-generic-area section-gap">
        <div class="container border-top-generic">
            <h3 class="about-title mb-30">{{ page.title }}</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="img-text">
                        <img src="{{ site.url }}/img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
